
testeando.mkv
sounds
__pycache__
__pycache__
alarmLog
gui/mariadb.txt
gui/test.sql
testCsvFile.csv

horariosDiarios/history
Log

.*.png

ClasesLinks.csv
horariosSemanales/next.csv
horariosSemanales/this.csv
horariosDiarios/today.txt
horariosDiarios/tomorrow.txt
ClasesLinks.csv